body {
    font-family: Arial, sans-serif;
    background-image: url('background1.jpeg'); /* Replace with your image path */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent black background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #653fee; /* Gold color for headings */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #43acf1;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #120963;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #2ec908;
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
